.service-list {
  margin-top: 20px;
  padding: 0 10px;
}

.service-item {
  background-color: #fff;
  margin-bottom: 20px;  
  padding: 20px;
  border-radius: 12px;  
  border: 1px solid #ddd;  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;  
}
.service-details {
  margin-bottom: 15px; 
}

.service-details strong {
  font-size: 18px;
  color: #333;
  display: block; 
  margin-bottom: 8px;  
}

.service-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.service-actions {
  display: flex;
  gap: 15px; 
  justify-content: flex-start; 
}

.service-actions button {
  width: 100px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;  
  background-color: #017DB0;  
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out;
}