.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

.modal-content input:focus,
.modal-content textarea:focus {
  border-color: #017db0;
  outline: none;
  box-shadow: 0 0 5px rgba(1, 125, 176, 0.5);
}

.modal-content select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.modal-content select:focus {
  border-color: #017db0;
  outline: none;
  box-shadow: 0 0 5px rgba(1, 125, 176, 0.5);
}
.modal-content label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
}
.modal-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-content button:first-of-type {
  background-color: #4caf50;
  color: white;
}

.modal-content button:first-of-type:hover {
  background-color: #45a049;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-content button:last-of-type {
  background-color: #f44336;
  color: white;
}

.modal-content button:last-of-type:hover {
  background-color: #e53935;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-content input[type="checkbox"] {
  margin-left: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
