.form-field.form-field--description {
  grid-column: 1/3;
}

.form--room {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.form__div--row {
  grid-column: 1/3;
}

.div--msg-nd {
  text-align: center;
  height: 5rem;
  align-content: center;
  font-size: x-large;
  font-weight: bold;
  color: gray;
}

.promotion__select {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.promotion__select select {
  width: 100%;
}


.div-images {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.form__title-imgs {
  display: flex;
  justify-content: space-between;
}

.form__btn {
  align-self: self-end;
}