.form--room {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.form__div {
    display: flex;
    flex-direction: column;
    margin-right: 15rem;
}

.form__btn {
    align-self: self-end;
}