.room--card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 10px;

  justify-content: space-between;

  border-radius: 0 0 8px 8px;

  border-top: solid 5px black;
}

.room--card .tag {
  background-color: black;
  color: white;
  padding: 1px 4px;
  border-radius: 4px;
}

.room--card > div {
  display: flex;
}

.room--info {
  width: 100%;
}

.room--card img {
  width: 75px;
  height: 50px;
  border-radius: 4px;
}

.room--card.disponible {
  border-color: #4fd22e;
}

.disponible .tag {
  background-color: #4fd22e;
}

.room--card.limpieza {
  border-color: #017db0;
}

.limpieza .tag {
  background-color: #017db0;
}

.room--card.reservada {
  border-color: #e3a327;
}

.reservada .tag {
  background-color: #e3a327;
}

.room--card.ocupado {
  border-color: #e32727;
}

.ocupado .tag {
  background-color: #e32727;
}
