.div-image {
  display: flex;
  flex-direction: column;
  padding: 1em;
  /* border: 1px solid rgba(100, 100, 100, .6); */
  background-color: rgba(100, 100, 100, .1);
  border-radius: 6px;
}

.div-image__img {
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0.5rem 0;
}

.div-image__divSI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: grey;
  height: 200px;
  background-color: rgba(100, 100, 100, .1);
  border-radius: 6px;
  margin: 0.5rem 0;
}


@media (prefers-color-scheme: light) {
  .div-image {
    background-color: white;
    /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); */
    /* border: 1px solid #017db0; */
    border: 1px solid rgba(100, 100, 100, .3);
  }
}