.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    opacity: 1;
    transition: opacity 0.3s ease;
}

.modal-container {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-container input {
    color: black;
}

.modal-content>form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}


.div--btns {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: right;
    gap: 1em;
}

.modal-overlay.active {
    display: flex;
    opacity: 1;
}