.contenedor{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contenedor__label{
    color: #017DB0;
    font-weight: bold;
    margin-right: 1rem;
    font-size: 1rem;
}
.contenedor__input{
    border: 0.2rem solid #017DB0;
    background: transparent;
    border-radius: 0.5rem;
    color: #017DB0;
    width: 12rem;
}
.contenedor__input:focus{
    outline: none;
}