.form--promotion {
  max-width: 45rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.form--promotion>h2 {
  grid-column-end: 3;
  grid-column-start: 1;
}

.div--rooms {
  height: 20rem;
  overflow-y: auto;
}

.room--item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  padding: .3rem .6rem;
  border-radius: 5px;
  background-color: rgba(80, 80, 80, .2);
}

.room--item:hover {
  background-color: rgba(80, 80, 80, .5);
}

.room--item>div {
  display: flex;
  gap: 1rem;
}

.room--item>button {
  padding: 0.5rem;
  font-size: xx-small;
  height: auto;
}