.div--search {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1em;
}

.table--promotions {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

/* 
#005577 
#017db0
*/

.table--promotions th {
  border-bottom: 1px solid #005577;
  color: #017db0;
}

.table--promotions td {
  padding: 5px 3px;
}

.table--promotions tr {
  /* border-top: 1px solid #d3dae6; */
  border-bottom: 1px solid rgba(175, 175, 175, .2);
}

.table--promotions tr:nth-child(odd) {
  background-color: rgba(150, 200, 220, .05);
}

.table--promotions tr>td:last-child {
  text-align: center;
}

.table--promotions .table__message {
  text-align: center;
}

.div--nd {
  height: 10rem;
  justify-content: center;
  text-align: center;
  align-content: center;

  font-weight: bold;
  font-size: x-large;
  color: gray;
}